/* Brand description on archives */
.tax-product_brand .brand-description {
	overflow: hidden;
	zoom: 1;
}
.tax-product_brand .brand-description img {
	width: 25%;
	float: right;
}
.tax-product_brand .brand-description .text {
	width: 72%;
	float: left;
}

/* Brand description widget */
.widget_brand_description img {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	max-width: none;
	height: auto;
	margin: 0 0 1em;
}

/* Brand thumbnails widget */
.widget .pbf_wc_brand-thumbnails, .pbf_wc_brand-thumbnails {
	overflow: hidden;
	zoom: 1;
	margin: 0;
	clear: both;
}
.widget .pbf_wc_brand-thumbnails li, .pbf_wc_brand-thumbnails li {
	float: left;
	padding: 0;
	margin: 0 2% 2% 0;
}
.widget .pbf_wc_brand-thumbnails li.last, .pbf_wc_brand-thumbnails li.last {
	margin-right: 0;
}
.widget .pbf_wc_brand-thumbnails li img, .pbf_wc_brand-thumbnails li img {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	max-width: none;
	height: auto;
	margin: 0;
}

/* A-Z Shortcode */
div#pbf_wc_brands_a_z h3:target {
	text-decoration: underline;
}
ul.pbf_wc_brands_index {
	list-style: none outside;	
	overflow: hidden;
	zoom: 1;
}
ul.pbf_wc_brands_index li {
	float: left;
	margin: 0 2px 2px 0;
}
ul.pbf_wc_brands_index li a, ul.pbf_wc_brands_index li span {
	border: 1px solid #ccc;
	padding: 6px;
	line-height: 1em;
	float: left;
	text-decoration: none;
}
ul.pbf_wc_brands_index li span {
	border-color: #eee;
	color: #ddd;
}
ul.pbf_wc_brands_index li a:hover {
	border-width: 2px;
	padding: 5px;
	text-decoration: none;
}
ul.pbf_wc_brands_index li a.active {
	border-width: 2px;
	padding: 5px;
}
div#pbf_wc_brands_a_z a.top {
	border: 1px solid #ccc;
	padding: 4px;
	line-height: 1em;
	float: right;
	text-decoration: none;
	font-size: 0.8em;
}